.btn {
    background-color: #2f5572;
    color: #FFF;
    text-decoration: none;
    padding: .50rem 1.2rem;
    display: inline-block;

    &--orange {
        background-color: #d59541;
    }

    &--large {
        font-size: 125%;

        padding: .75rem 1.5rem;
    }

}